body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
	background-image: linear-gradient(rgb(37, 121, 114),rgb(68, 20, 179));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html{
	height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
	display: grid;
	position: relative;
	outline: 5px solid #093802;
	font-size: 0;
	top: 10px;
	height: 460px;
	width: 460px;
	margin: auto;
	padding: 0;
	border: none;
}

.grid-item {
	border: 1px solid gray;
	background-color: white;
  }

.grid-item.hovered{
	background-color: black;
}

.btnGrid{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 5px;
	font-weight: 600;
	border-radius: 15px;
	margin-top: 20px;
	font-size: 20px;
	background-color: transparent;
}

.btnGrid:hover{
	border-color: red;
}

h1{
	display: flex;
	font-weight: 800;
	font-size: 80px;
	align-items: center;
	justify-content: center;
}